.icon-left {
    position: absolute;
    top: 10%;
    left: 10%;
}

.icon-right {
    position: absolute;
    bottom: 10%;
    right: 10%;
}

.season-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.winter {
    background-color: aliceblue;
}

.summer {
    background-color: darkorange;
}

.season-display.winter i {
    color: deepskyblue;
}

.season-display.summer i {
    color: red;
}